.category_section {
  margin-top: 5px;
  .image_Box {
    width: 100%;
    text-align: center;
    img.card-img {
      object-fit: contain;
      height: 250px;
    }
  }
  a {
    text-decoration: none;
    .card {
      border: none;
    }
    .card-title {
      text-align: center;
      font-size: 14px;
    }
    .card-text {
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
